QWidget#window {
    background-color: black;
}

QWidget {
    border-style: solid;
    border-color: red;
    border-width: 1px;
}

QWidget, QLayout {
    margin: 0px;
    padding: 0px;
    spacing: 0px;
}